body{
    position: relative;
    background-color: #16132B;
    height: 100rem;
    color: #ffffff;
    
}
.sidebar{
    position: relative;
    background-color:#1F252E;
    height: 100rem;
    width: 10rem;
    box-shadow:0px 1px 1px hsl(300, 9%, 90%) ;
    left: 0;

    
}
.dashboard-text{
    color: #ffffff;
    font-size: larger;
    
    gap: 1rem;
}
.nav-bar-dashboard{
    height: 3rem;
    width: 74.5rem;
    background-color: #16132B;
    box-shadow:0px 1px 1px hsl(300, 9%, 90%) ;

}
.welcome-dashboard{
    color: #ffffff;
    font-size: large;
}
.notifaction-dashboard{

}
.notification-icon{
    width: 2.5rem;
    height: 2.5rem;
}
.icons-image-dashboard{
    width: 2.5rem;
    height:2.5rem ;
}
.logo-dashboard{
    width: 8rem;
    height: 8rem;
}
.icons-middle-dashboard{
    display: flex;
    flex-direction: column;
    right: 4rem;
    gap: 1rem;
    top: 14rem;
}
.icon-bottom-dashboard{
   
    right:4rem;
}
.project-section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    top: 10rem;
    left: 2rem;

}
.project-section-description-blog-two{
    display: flex;
    flex-direction: column;
}
.project-section-button{
    display: flex;
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    gap: 5px;

    
}
.project-container-blogs{
  display: flex;
  flex-direction: column; 
  border: 1px solid #dedaf7;
  background-color: #16132B;
  height: 10rem;
 
}
.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background-color:#1F252E;

}
.blog-card  img{
height: 13rem;
width: 20rem;
}
.flex{
    display: flex;

}
.flex.flex-col {
    flex-direction: column;
  }
  .w-grid {
    min-width: 20rem;
    max-width: 30rem;
  }
.update{
    background-color: rgb(233, 201, 141);
    border-radius: 5px;
}
.delete{
    background-color: rgb(228, 153, 153);
    border-radius: 5px;
}
.heading-blog-second{
    padding: 1rem;
}
.create-a-blog{
    position: absolute;
    left: 66rem;
    width: 6rem;
    height: 2rem;
    background-color: #90F8C0;
    border-radius: 4px;
    top: 6rem;
}
.create-a-blog a{
 bottom: 5px;
 position: absolute;
 text-decoration: none;
 color: #dedaf7;
}