body{
    position: relative;
    background-color: #16132B;
    height: 100rem;
    
}
.sidebar{
    position: absolute;
    background-color:black;
    height: 100rem;
    width: 10rem;
    box-shadow:0px 1px 1px hsl(300, 9%, 90%) ;
    left: 0;
    margin-top: -3rem;
    margin-left: -1rem;
    
}

.icons-dashboard{
    position: absolute;
    margin-bottom: 20rem;
    left: 20rem;
  }
.dashboard-text{
    color: #ffffff;
    font-size: larger;
    margin-left:2rem;
    gap: 1rem;
}
.nav-bar-dashboard{
    height: 4rem;
    width: 74.5rem;
    background-color: #16132B;
    box-shadow:0px 1px 1px hsl(300, 9%, 90%) ;
    margin-left: 9rem;
    margin-top: -1rem;
}
.welcome-dashboard{
    margin-left:6rem;
    color: #ffffff;
    font-size: large;
    margin-top: 4rem;
}
.notifaction-dashboard{
    margin-left: 67rem;
    margin-top: -2rem;
}
.notification-icon{
    width: 2.5rem;
    height: 2.5rem;
}
.icons-image-dashboard{
    width: 2.5rem;
    height:2.5rem ;
}
.logo-dashboard{
    width: 8rem;
    height: 8rem;
}
.icons-middle-dashboard{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 4rem;
    gap: 1rem;
    top: 14rem;
}
.icon-bottom-dashboard{
    position: absolute;
    margin-top: 26rem;
    right:4rem;
}
.container-message{
    position: absolute;
    width: 55rem;
    height:30rem;
    background-color: #16132B;
    box-shadow:0px 0px 2px 0px hsl(300, 9%, 90%);
    margin: 2rem;
    margin-left:18rem;
}
.top-section-message{
    color: #ffffff;
    font-size: large;
    width: 55rem;
    height: 3rem;
    background-color: #16132B;
    box-shadow:0px 0px 2px 0px hsl(300, 9%, 90%);
}
.message-text{
    position: absolute;
    margin: 1rem;
}
.inner-container{
    position: absolute;
    width: 50rem;
    height: 5rem;
    background-color: #1F252E;
    box-shadow:0px 0px 2px 0px hsl(300, 9%, 90%);
    margin: 2rem;
    bottom: 18rem;
}
.user-message{
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    left: 3rem;
    top:0.5rem;
}
.message-username{
    position: absolute;
    left: 5rem;
    bottom:-15px;
    width: 40rem;
    height: 5rem;
    background: #16132B;
    border-radius: 2px;
    box-shadow:0px 0px 2px 0px hsl(300, 9%, 90%);
}
.message-username-text{
    position: absolute;
    font-size: large;
    right: 32rem;
    width: 5rem;
    height: 2rem;
    border-radius: 4px;
    background-color: #1F252E;
}
.message-username-text-two{
    position: absolute;
    right: 2rem;
    top:-25px;
}
.inner-container-two{
    position: absolute;
    width: 50rem;
    height: 5rem;
    background-color: #1F252E;
    box-shadow:0px 0px 2px 0px hsl(300, 9%, 90%);
    margin: 2rem;
    bottom: 12rem;  
}
.inner-container-three{
    position: absolute;
    width: 50rem;
    height: 5rem;
    background-color: #1F252E;
    box-shadow:0px 0px 2px 0px hsl(165, 90%, 90%);
    margin: 2rem;
    bottom: 6rem;  
}
.inner-container-four{
    position: absolute;
    width: 50rem;
    height: 5rem;
    background-color: #1F252E;
    box-shadow:0px 0px 2px 0px hsl(300, 9%, 90%);
    margin: 2rem;
    bottom: -1rem; 
}
.user-userprofile{
    position: absolute;
    margin: 3rem;
    left: 35rem;
}
.user-userprofile-img{
    width: 8rem;
    height: 8rem;
}
.form-user-profile{ 
    position: absolute;
    width: 50rem;
    height:25rem;
    background-color: #16132B;
    margin: 2rem;
    margin-left:25rem; 
    margin-top: 15rem;
}
.first-name{
    height: 2rem;
    width: 15rem;
    border-radius: 10px;
    margin-left: 2rem;
}
.form-user-profile{
    display: flex;
    flex-direction: column;
 
}
input{
    background-color: #16132B;
}
.first-last-name{
    position: absolute;
    height: 2rem;
    width: 15rem;
    border-radius: 10px; 
    margin-left: 20rem;
    margin-bottom: 4rem; 
}
.email-user-profile{
    position: absolute;
    height: 2rem;
    width: 33rem;
    border-radius: 10px; 
    margin-top:3rem; 
    margin-left: 2rem; 
}
.address-user-profile{
    position: absolute;
    height: 2rem;
    width: 33rem;
    border-radius: 10px; 
    margin-top:6rem; 
    margin-left: 2rem;  
}
.submit-dashboard{
    position:absolute;
    width: 5rem;
    height: 2rem;
    background:#90F8C0;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 20rem;
    margin-left: 20rem;
    text-align:center;
    position: absolute;
    font-size: medium;
    left: 20rem;
    top: 8rem;
}
.submit-dashboard a {
  position: absolute;  
 text-decoration: none;
 color: #ffffff;
 bottom:9px;
 left: 0.5rem;    
}
/* .heading-blog{
    position: absolute;
    margin-left: 1rem;
    margin-top:-2rem;
} */
/* .description-text-blog{
position: absolute;
margin-left:1rem;
top: 20rem;
} */
.readmore-dashboard{
    position: absolute;
    color: white;
    height: 2rem;
    width: 5rem;
    background: #1F252E;
    box-shadow: 0px 0px 2px 0px hsl(300, 9%, 90%);
    margin-left: 2rem;
    top:7.5rem;
    border-radius: 10px;
}
.redMore{
    position: absolute;
    padding: 3px;
}
.blog-dash-icons{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
.icon-blogs{
    position: absolute;
    left: 24rem;
    gap: 2rem;
    top: -1;
}
/* .heading-blog-second{
    position: absolute;
    top: 3rem;
    right:-2rem;
} */
/* .project-section-description{
    position: absolute;
    width: 32rem;
    height: 10rem;
    background-color: #1F252E;
    left: 29rem;
    top: 18rem;
    box-shadow:0px 0px 5px 2px hsl(150, 36%, 57%) ;
} */
/* .countrytwo{
    position: absolute;
    width: 22rem;
    height: 10rem;
    left: 20rem;
    top: 10rem;
} */
/* .project-section-description-blog-two{
    position: absolute;
    width: 32rem;
    height: 14rem;
    background-color: #1F252E;
    left: 40rem;
    top: 10rem;
    box-shadow:0px 0px 5px 2px hsl(150, 36%, 57%) ;
} */
.create-a-blog{
    position: absolute;
    left: 66rem;
    width: 6rem;
    height: 2rem;
    background-color: #90F8C0;
    border-radius: 4px;
    top: 6rem;
}
.create-a-blog a{
 bottom: 5px;
 position: absolute;
}
.create-dash{
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 7rem;
    bottom: 10px;
}
.create-dashboard{
    height: 25rem;
    width: 40rem;
    background-color: #16132B;
    box-shadow:2px 1px 8px 2px hsl(138, 57%, 60%) ;
    margin: 6rem;
    margin-left: 20rem;    
}
.create-message{
    position: absolute;
    height: 4rem;
    width: 35rem;
    background-color: #16132B;
    border-color: #90F8C0;
    border-style:groove;
    right:27rem;
    top: 3rem;
}
.message{

}
.input-create{
    position: absolute;
    height: 10rem;
    width: 35rem;
    background-color: #16132B;
    border-color: #90F8C0;
    border-style:groove;
    right:26rem;
    top: 3rem;
}
.share{
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-image: linear-gradient(to bottom, #90F8C0, #1F252E);
    top: 15rem;
    right:29rem;
    border-radius: 2px;
}
.Cancel{
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-image: linear-gradient(to bottom, #90F8C0, #1F252E);
    top: 15rem;
    right:37rem;
    border-radius: 2px;
}
.share a{
    position: absolute;
    font-size: large;
    color: #ffffff;
    text-decoration: none;
    left: 1rem;
    bottom: 5px;
}
.Cancel a{
    position: absolute;
    font-size: large;
    color: #ffffff;
    text-decoration: none;
    left: 1rem;
    bottom: 5px;
}