body{
    background-color: #16132B;
    height: 200rem
}
.header{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 51%rem;
    height: 2rem;
    background-color:#16132B;
    position: relative;
    box-shadow:  0px 1px 1px hsl(300, 9%, 90%) ;
    position:fixed;
    z-index: 1000;
    width: 100%;
    right: 0;
    top: 0;
}
ul{
    margin-top:  -0.1rem;
    position: absolute;
    padding-left:  35rem;
}
li{
    display: inline;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.logo{
    width: 9rem;
    height: 9rem;
}
.log{
    position: absolute;
    margin-left: 2rem;
    top: -1rem;
}
.numbers{
    color:#90F8C0;
}
.navbar a{
     margin-right: 18px;
}
.homeimg{
    width: 20rem;
    height: 20rem;
}
.landing-right-side{
    position:absolute;
    display: flex;
    flex-direction: row;
    margin-left: 50rem;
}
.home-landing{
    margin-top: 8rem;
}
.plus-landing{
 margin: 2rem;
 padding-top: 5rem;
}
.plusimg{
    width: 3rem;
    height: 3rem;
}
.icon-sidebar{
    width: 2rem;
    height: 3rem;
}
.landing-body-section{
    position: relative;
}
.landing-left-side-icon {
  top: 15rem;
  left: 2rem;

}
.landing-left-side-icon{
    position:absolute;
}
.landing-left-side-icon img{
margin-bottom: 1rem;
}
.landing-body-section-text{
    position:absolute;
    left: 4rem;
}
.landing-body-section-hello{
color: #ffffff;
width: 30rem;
width: 40rem;
background-color:#16132B;
margin: 12rem;
}
.hello{
    font-size: large;
    top: 2rem;
}
.software{
    font-size: x-large;
}
.landing-text-color{
    color: #90F8C0;
}
.landing-body-section-botton{
    position: absolute;
    height: 2rem;
    width: 5em;
    background-color: #90F8C0;
    border-radius: 10px;
    top: 2rem;
    margin-left: 12rem;
    margin-top: 18rem;

}
.landing-body-section-botton a{
    position: absolute;
    color: black;
    margin-left: 1rem;
    margin-top:3rem;
    bottom:9px;
    
}
.about{
    position:absolute;
    font-size: larger;
    color: #ffffff;
    margin-top: 2rem;
    margin-left: 15rem;
    font-weight:300;

}
.horizontal-line{
    background-color: #90F8C0;
    width:3rem;
    height: 2px;
    margin-right: 10rem;
    border-radius: 10px;
}
.about-right-side{
    position:absolute;
    display: flex;
    flex-direction: row;
    margin-left: 20rem; 
    top:8rem;  
}
.about-plus{
    position: absolute;
    left: 45rem;
    margin: 2rem;
    padding-top: 5rem;
}
.about-body-section{
    position:absolute;
    color: #ffffff;
    font-size: larger;
    margin-top: 10rem;
    margin-right: 4rem;
}
.about-resume{
    position:absolute;
    width: 5rem;
    height: 2rem;
    background:#90F8C0;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 20rem;
    margin-left: 20rem;
    text-align:center;
}
.about-resume a{
    position: absolute;
    font-size: medium;
    right: 0.5rem;
    top: 0.5rem;
}
.skills-box{
    position: relative;
    height: 18rem;
    width: 12rem;
    background-color: #1F252E;
    border-radius: 10px;
    box-shadow:0px 0px 5px 2px hsl(150, 36%, 57%) ;
    color: #ffffff;
    margin-left: 0.5rem;
    margin-top: 8rem;
}
.inner-skills-circle{
    position: absolute;
    height: 7rem;
    width: 7rem;
    background-image: linear-gradient(to right, #213046, #202E53);
    border-radius: 50%;
    left: 30px;
    bottom: 5rem;
}
.percentage-circle-skills{
    position: absolute;
    height: 6rem;
    width: 6rem;
    background: #1F252E;
    border-radius: 50%;
    margin: 0.5rem;
}
.percentage{
    position: absolute;
    margin: 2rem;
    bottom:0.5rem;
}
.languages{
    position: absolute;
    padding: 2rem;
    left: 1.5rem;
}
.skills-section-languages{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.skills-plus{
    position: absolute;
    top: 8rem;
    left: 50rem;
}
.country{
    position: absolute;
    width: 22rem;
    height: 10rem;
    left: 20rem;
    top: 15rem;
}
.project-section-description{
    position: absolute;
    width: 32rem;
    height: 10rem;
    background-color: #1F252E;
    left: 29rem;
    top: 18rem;
    box-shadow:0px 0px 5px 2px hsl(150, 36%, 57%) ;
}
.description-text{
    position: relative;
    color: #ffffff;
    font-size:large;
    right: 7rem;
    top: 1em;
}
.project-section{
    gap: 3rem;
    top: 20rem;

}
.calculator{
    position: absolute;
    width: 22rem;
    height: 10rem;
    left: 20rem;
    top: 30rem;   
}
.project-section-description-two{
    position: absolute;
    width: 32rem;
    height: 10rem;
    background-color: #1F252E;
    left: 29rem;
    top: 34rem;
    box-shadow:0px 0px 5px 2px hsl(150, 36%, 57%) ; 
}
.plus-project{
    position: absolute;
    left: 20rem;
    margin: 2rem;
    padding-top: 5rem;
}
.project-heading{
    position: absolute;
    color: white;
    top: 8rem;
    left: 40rem;
    font-size: large;
}
.project-container{
    bottom: 30rem;
}
.description-text-blog{
    position: relative;
    color: #ffffff;
    font-size:large;
    right:6rem;
    top: 1em; 
    gap: 2rem;
}
.heading-blog{
    font-size: large;
    font-weight: 300;
}
.project-section-description-blog{
    position: absolute;
    width: 32rem;
    height: 10rem;
    background-color: #1F252E;
    left: 40rem;
    top: 15rem;
    box-shadow:0px 0px 5px 2px hsl(150, 36%, 57%) ;
}
.project-section-description-two-blog{
    position: absolute;
    width: 32rem;
    height: 10rem;
    background-color: #1F252E;
    left: 40rem;
    top: 30rem;
    box-shadow:0px 0px 5px 2px hsl(150, 36%, 57%) ;   
}